<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引用github的布局样式-->
    <link rel="stylesheet" th:href="@{/css/githubLayout.css}"/>
    <link rel="stylesheet" th:href="@{/css/githubStyle.css}"/>
    <!--引入bootstrap.css以及bootstrapValidator.css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"/>
    <!--引入js ,spring boot + Thymeleaf项目js和css只能放在指定的文件夹下:static和templates-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/forgetPassword.js}"></script>
    <title>重置密码 · MicroClouds</title>
</head>

<body class="logged-out env-production page-responsive min-width-0 session-authentication">


<div class="position-relative js-header-wrapper ">
    <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
        <div class="container clearfix width-full text-center">
            <a class="header-logo" href="https://github.com/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                <img src="/img/icon48.png" class="img-responsive" alt="MicroClouds">
            </a>
        </div>
    </div>


</div>

<div role="main" class="application-main " data-commit-hovercards-enabled>

    <div id="js-pjax-container" data-pjax-container>

        <div class="auth-form px-3">
            <form id="forgot_password_form" th:action="@{/microclouds/restpassword}" accept-charset="UTF-8" method="post">
                <span th:include="contextPath::html"></span>
                <div class="auth-form-header p-0">
                    <h1>重置您的密码</h1>
                </div>
                <div id="displayDiv" style="display: none;">
                    <div class="flash flash-full flash-error">
                        <div class="container">
                            <button onclick="" class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
                                <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
                                </svg>
                            </button>
                            <div id="dvErrorMsg"></div>
                        </div>
                    </div>
                </div>

                <div class="auth-form-body mt-3">
                    <div class="form-group">
                        <label for="email_field">输入您的电子邮件地址，我们将检查此邮箱是否具备重置密码的条件</label>
                        <input type="text" name="userMail" id="email_field" class="form-control input-block" autofocus="autofocus" placeholder="Enter your email address" />
                    </div>
                    <div class="form-group">
                        <input name="commit" type="submit" value="确认邮箱" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="modal-backdrop js-touch-events"></div>
</div>

<div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">
    <ul class="list-style-none d-flex flex-justify-center">
        <li class="mr-3"><a href="" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
        <li class="mr-3"><a href="" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
        <li class="mr-3"><a href="https://help.github.com/articles/github-security/" data-ga-click="Footer, go to security, text:security">Security</a></li>
        <li><a class="link-gray" data-ga-click="Footer, go to contact, text:contact" href="">Contact MicroClouds</a></li>
    </ul>
</div>
</body>
</html>

