<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--标题栏：-->
    <link rel="icon" href="/img/icon48.png" type="image/x-icon">
    <!--收藏夹:-->
    <link rel="shortcut icon" href="/img/icon48.png" type="image/x-icon">
    <!--引用github的布局样式-->
    <link rel="stylesheet" th:href="@{/css/githubLayout.css}"/>
    <link rel="stylesheet" th:href="@{/css/githubStyle.css}"/>
    <!--引入bootstrap.css以及bootstrapValidator.css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"/>
    <!--引入js ,spring boot + Thymeleaf项目js和css只能放在指定的文件夹下:static和templates-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/Error.js}"></script>
    <title>欢迎来到微云 · MicroClouds</title>
</head>

<body class="logged-out env-production page-responsive min-width-0 session-authentication">

<!--icon-->
<div class="position-relative js-header-wrapper ">
    <div id="js-pjax-loader-bar" class="pjax-loader-bar">
        <div class="progress"></div>
    </div>
    <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
        <div class="container clearfix width-full text-center">
            <a class="header-logo" href="#" aria-label="Homepage"
               data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                <img src="/img/icon48.png" class="img-responsive" alt="MicroClouds">
            </a>
        </div>
    </div>
</div>

<!--main-->
<div role="main" class="application-main " data-commit-hovercards-enabled>
    <div id="js-pjax-container" data-pjax-container>
        <div class="auth-form px-3" id="login">
            <form id="loginForm" th:action="@{/microclouds/login}" th:method="post" data-parsley-validate="true" >
                <span th:include="contextPath::html"></span>
                <div class="auth-form-header p-0">
                    <h1>登录到微云</h1>
                </div>
                <div id="displayDiv" style="display: none;">
                    <div class="flash flash-full flash-error">
                        <div class="container">
                            <button id="closeErrorButton" class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
                                <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
                                </svg>
                            </button>
                            <div id="dvErrorMsg"></div>
                        </div>
                    </div>
                </div>
                <div class="auth-form-body mt-3">
                    <div class="form-group">
                        <label for="userMail">
                            Email address
                        </label>
                        <input name="userMail" type="text" id="userMail" class="form-control input-block" tabindex="1"
                               autocapitalize="off" autocorrect="off" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                            <a class="label-link" th:href="@{/microclouds/forgetpassword}">忘记密码 ? </a>
                        </label>
                        <input name="password" type="password" id="password"
                               class="form-control form-control input-block"
                               tabindex="2"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="" value="登 录" tabindex="3" class="btn btn-primary btn-block"
                               data-disable-with="Signing in…"/>
                    </div>
                </div>
            </form>

            <p class="create-account-callout mt-3">
                没有账号 ?
                <a data-ga-click="Sign in, switch to sign up" th:href="@{/microclouds/register}">
                    创建新账号 </a>
            </p>
        </div>

    </div>
    <div class="modal-backdrop js-touch-events"></div>
</div>

<div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">
    <ul class="list-style-none d-flex flex-justify-center">
        <li class="mr-3">
            <a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a>
        </li>
        <li class="mr-3">
            <a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy
            </a></li>
        <li class="mr-3">
            <a href="" data-ga-click="Footer, go to security, text:security">Security</a>
        </li>
        <li>
            <a class="link-gray" data-ga-click="Footer, go to contact, text:contact" href="">Contact
                MicroClouds</a>
        </li>
    </ul>
</div>

</body>
</html>

