<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lumino - Dashboard</title>
    <link href="/css/main/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/datepicker3.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!--<link rel="stylesheet" th:href="@{/css/githubLayout.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/githubStyle.css}"/>

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/main/html5shiv.js"></script>
    <script src="/js/main/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="background-color:#ffffff;">
        <div class="navbar-header">
            <div class="profile-userpic">
                <img src="/img/icon48.png" class="img-circle" alt="">
                <a class="navbar-brand" href="#" style="margin-top: 0.6%;margin-left: 0.1%">
                    <span style="color: #35cebe;">microclouds</span>
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
                <a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" style="border-top:1px solid #f1f4f7;">
    <!--<div class="profile-sidebar" >-->
    <!--<div class="profile-userpic">-->
    <!--<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">-->
    <!--</div>-->
    <!--<div class="profile-usertitle">-->
    <!--<div class="profile-usertitle-name">Username</div>-->
    <!--<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="divider"></div>-->
    <!--<form role="search">-->
    <!--<div class="form-group">-->
    <!--<input type="text" class="form-control" placeholder="Search">-->
    <!--</div>-->
    <!--</form>-->
    <ul class="nav menu" style="margin-top: 5.2%;">
        <li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        <li><a href="widgets.html"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li>
        <li><a href="charts.html"><em class="fa fa-bar-chart">&nbsp;</em> Charts</a></li>
        <li><a href="elements.html"><em class="fa fa-toggle-off">&nbsp;</em> UI Elements</a></li>
        <li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
        <li class="parent "><a data-toggle="collapse" href="#sub-item-1">
            <em class="fa fa-navicon">&nbsp;</em> Multilevel <span data-toggle="collapse" href="#sub-item-1"
                                                                   class="icon pull-right"><em class="fa fa-plus"></em></span>
        </a>
            <ul class="children collapse" id="sub-item-1">
                <li><a class="" href="#">
                    <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
                </a></li>
                <li><a class="" href="#">
                    <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
                </a></li>
                <li><a class="" href="#">
                    <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
                </a></li>
            </ul>
        </li>
        <li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>

    <!--main-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <h2>创建模态框（Modal）</h2>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                开始演示模态框
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                模态框（Modal）标题
                            </h4>
                        </div>
                        <div class="modal-body">
                            在这里添加一些文本
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary">
                                提交更改
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div><!--/.row-->

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/main/chart.min.js"></script>
<script src="/js/main/chart-data.js"></script>
<script src="/js/main/easypiechart.js"></script>
<script src="/js/main/easypiechart-data.js"></script>
<script src="/js/main/bootstrap-datepicker.js"></script>
<script src="/js/main/custom.js"></script>
<script>
    window.onload = function () {
        var chart1 = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(chart1).Line(lineChartData, {
            responsive: true,
            scaleLineColor: "rgba(0,0,0,.2)",
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleFontColor: "#c5c7cc"
        });
    };
</script>

</body>
</html>