<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引用github的布局样式-->
    <link rel="stylesheet" th:href="@{/css/githubLayout.css}"/>
    <link rel="stylesheet" th:href="@{/css/githubStyle.css}"/>
    <!--引入bootstrap.css以及bootstrapValidator.css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"/>
    <!--引入js ,spring boot + Thymeleaf项目js和css只能放在指定的文件夹下:static和templates-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <title>Welcome to MicroClouds · MicroClouds</title>
</head>


</body>
</html>

