<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.mapper.AuthorityMapper">
	<!--开启二级缓存-->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<resultMap id="BaseResultMap" type="com.microclouds.entity.Authority">
		<id column="id" property="id" />
		<result column="authority_name" property="authorityName" />
		<result column="role_id" property="roleId" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, authority_name AS authorityName, role_id AS roleId, remark, create_time AS createTime, del_flag AS delFlag
    </sql>
</mapper>
