<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.mapper.EmailMapper">
	<!--开启二级缓存-->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<resultMap id="BaseResultMap" type="com.microclouds.entity.Email">
		<id column="id" property="id" />
		<result column="from_real_name" property="fromRealName" />
		<result column="from_user_id" property="fromUserId" />
		<result column="to_user_id" property="toUserId" />
		<result column="email_title" property="emailTitle" />
		<result column="email_content" property="emailContent" />
		<result column="send_date" property="sendDate" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, from_real_name AS fromRealName, from_user_id AS fromUserId, to_user_id AS toUserId, email_title AS emailTitle, email_content AS emailContent, send_date AS sendDate, del_flag AS delFlag
    </sql>
</mapper>
