<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.dao.ext.MessageExtMapper">
    <resultMap id="BaseResultMap" type="com.microclouds.pojo.Message">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="from_real_name" jdbcType="VARCHAR" property="fromRealName" />
        <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
        <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="del_flag" jdbcType="BIT" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        id, from_real_name, from_user_id, to_user_id, content, send_date, type, del_flag
    </sql>

    <select id="selectMessageByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from message
        where id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>