<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.mapper.ProvinceMapper">
	<!--开启二级缓存-->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<resultMap id="BaseResultMap" type="com.microclouds.entity.Province">
		<id column="id" property="id" />
		<result column="province_code" property="provinceCode" />
		<result column="province_name" property="provinceName" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, province_code AS provinceCode, province_name AS provinceName
    </sql>
</mapper>
