<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.dao.UserDetailMapper">
	<!--开启二级缓存-->
	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

	<resultMap id="BaseResultMap" type="com.microclouds.entity.UserDetail">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="phone" property="phone" />
		<result column="user_mail" property="userMail" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="birthday" property="birthday" />
		<result column="education" property="education" />
		<result column="sex" property="sex" />
		<result column="signature" property="signature" />
		<result column="social_account" property="socialAccount" />
		<result column="company" property="company" />
		<result column="icon" property="icon" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, user_id AS userId, real_name AS realName, phone, user_mail AS userMail, province, city, area, birthday, education, sex, signature, social_account AS socialAccount, company, icon, create_time AS createTime, update_time AS updateTime, del_flag AS delFlag
    </sql>
</mapper>
