<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.dao.ext.UserExtMapper">
    <resultMap id="BaseResultMap" type="com.microclouds.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_mail" jdbcType="VARCHAR" property="userMail"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_mail, password, user_name, role_name, create_time, update_time, del_flag
    </sql>

    <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_mail = #{user_mail,jdbcType=VARCHAR}
    </select>

    <update id="updatePasswordByMail" parameterType="java.lang.String">
        update user set password = #{password}
        where password = #{userMail}
    </update>

    <select id="isEmailExist" parameterType="java.lang.String" resultType="java.lang.String">
        select user_mail from user where user_mail=#{userMail}
    </select>


</mapper>