<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.dao.UserMapper">
    <!--开启二级缓存-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <resultMap id="BaseResultMap" type="com.microclouds.entity.User">
        <id column="id" property="id"/>
        <result column="user_mail" property="userMail"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="role_name" property="roleName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, user_mail AS userMail, password, user_name AS userName, role_name AS roleName, create_time AS createTime, update_time AS updateTime, del_flag AS delFlag
    </sql>

    <select id="selectByAccount" parameterType="java.lang.String" resultType="com.microclouds.entity.User">
        select *
        from user
        where user_mail = #{user_mail,jdbcType=VARCHAR}
    </select>

    <update id="updatePasswordByMail" parameterType="java.lang.String">
        update user set password = #{password}
        where password = #{userMail}
    </update>

    <select id="isEmailExist" parameterType="java.lang.String" resultType="java.lang.String">
        select user_mail from user where user_mail=#{userMail}
    </select>
</mapper>
