<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microclouds.dao.ext.UserLogExtMapper">
    <resultMap id="BaseResultMap" type="com.microclouds.pojo.UserLog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="log_date" jdbcType="TIMESTAMP" property="logDate" />
        <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
        <result column="log_type" jdbcType="VARCHAR" property="logType" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, log_date, user_ip, log_type, description
    </sql>

    <select id="selectUserLogByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_log
        where id = #{userId,jdbcType=INTEGER}
    </select>

</mapper>